body, main{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
nav, main{
  box-sizing: border-box;
  z-index: 5;
}
h1 {
  color: #525454;
  font-size: 22px;
  text-align: center;
  z-index: 5;
  width: 100vw;
  position: absolute;

}
nav input {
  font-size: 12px;
  width: 30px;
  margin: 0px 10px 0px 10px;
  z-index: 5;
}
nav input[type="submit"]{
  width: 60px;
  z-index: 5;
}
nav{
  box-sizing: border-box;
  padding-top: 55px;
  width: 250px;
  height: 100%;
  position: absolute;
  transform: translate(-250px, 0);
  transition: transform 0.3s ease;
  position: absolute;
  background-color: #c5cfd4;
  color: #525454;
}
nav.open {
  transform: translate(0,0)
}
#menu{
  width: 47px;
  height: 47px;
  z-index: 6
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
#map {
  bottom: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0px;
}
ul, li{
  margin:0;
  margin-top: 10px;
  padding:0;
  cursor:pointer;
}
ul{
  margin-left: 10px;
  list-style: none;
  z-index: 5;
}

@media screen and (min-width: 1000px){
  nav#drawer {
    transform: translate(0, 0);
    padding-top: 10px;
  }
  #menu {
    display: none;
  }
  body{
    display: flex;
    flex-flow: row nowrap;
  }
  main{
    width: auto;
    flex-grow: 1;
  }
}
label{
  display: block;
  margin-bottom: 15px;
  margin-left: 15px;
}
