body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.i-stars {
  background: url(https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png) no-repeat;
  background-size: 132px 560px;
  display: inline-block;
  vertical-align: middle
}


.i-stars--large-0 {
  width: 132px;
  height: 24px;
  background-position: 0 -0
}

.i-stars--large-1 {
  width: 132px;
  height: 24px;
  background-position: 0 -24px
}

.i-stars--large-1-half {
  width: 132px;
  height: 24px;
  background-position: 0 -48px
}

.i-stars--large-2 {
  width: 132px;
  height: 24px;
  background-position: 0 -72px
}

.i-stars--large-2-half {
  width: 132px;
  height: 24px;
  background-position: 0 -96px
}

.i-stars--large-3 {
  width: 132px;
  height: 24px;
  background-position: 0 -120px
}

.i-stars--large-3-half {
  width: 132px;
  height: 24px;
  background-position: 0 -144px
}

.i-stars--large-4 {
  width: 132px;
  height: 24px;
  background-position: 0 -168px
}


.i-stars--large-4-half {
  width: 132px;
  height: 24px;
  background-position: 0 -192px
}

.i-stars--large-5 {
  width: 132px;
  height: 24px;
  background-position: 0 -216px
}
